@import './base/_null-style.css';
@import './base/_fonts.css';

body.lock {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	padding: 0 100px;
}
.container.md {
	max-width: 1920px;
}

.header {
	position: relative;
	background: #131212;
	padding-top: 73px;
	padding-bottom: 60px;
}

.header-decor .header-decor__img,
.main-img__item {
	width: 100%;
}
.header-decor-top {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100vw / (1920 / 435));
	max-width: 435px;
}
.header-decor-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100vw / (1920 / 584));
	max-width: 584px;
}
.header-decor-top-left {
	position: absolute;
	top: 75px;
	left: -158px;
	width: calc(100vw / (1920 / 354));
	max-width: 354px;
}
.header-decor-top-middle {
	position: absolute;
	top: 0;
	right: 484px;
	width: calc(100vw / (1920 / 354));
	max-width: 586px;
}
.header-dots {
	position: absolute;
	top: 90px;
	right: 100px;
	display: flex;
	column-gap: 10px;
	padding: 10px;
	transition: ease 2s;
	cursor: pointer;
	z-index: 10;
}
.header-decor-bottom-right {
	position: absolute;
	bottom: 178px;
	right: 100px;
	width: calc(100vw / (1920 / 354));
	max-width: 354px;
}

.header-dots:hover {
	transform: rotate(-360deg);
}
.header-dots span {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #fff;
}

.header-top {
	margin-bottom: 345px;
}
.header-top__inner {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 48px;
	z-index: 10;
}
.header-top__menu-list {
	display: flex;
	column-gap: 32px;
	margin-left: 180px;
}
.header-top__menu-item {
	font-family: 'Geometria';
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition: 0.3s ease;
}
.header-top__menu-item:hover {
	opacity: 0.5;
}

.header-top__menu-burger {
	display: none;
}

.header-content {
	position: relative;
	margin-bottom: 145px;
}
.header-content__inner {
	display: flex;
	justify-content: flex-end;
	margin-right: 114px;
	z-index: 10;
}
.header-content .main-img {
	position: absolute;
	top: -265px;
	left: 210px;
	width: calc(100vw / (1920 / 750));
	max-width: 750px;
	border-radius: 100%;
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
	z-index: 10;
}
.header-content .main-img img {
	width: 100%;
}
.header-content__name {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 895px;
	z-index: 20;
}
.header-content__title {
	font-family: 'Gotham Pro';
	font-weight: 900;
	font-size: 200px;
	line-height: 120%;
	letter-spacing: 0.02em;
	color: #fff;
}
.header-content__subtitle {
	font-family: 'Geometria';
	font-weight: 500;
	font-size: 48px;
	line-height: 140%;
	letter-spacing: 0.02em;
	color: #fff;
	margin-left: 8px;
}

.header-bottom__inner {
	display: flex;
	justify-content: flex-end;
}
.socials-list {
	display: flex;
	column-gap: 32px;
}
.socials-list__item {
	width: 72px;
	height: 72px;
}
.socials-list__img path {
	transition: 0.3s ease;
}
.socials-list__img:hover path {
	fill: #fb6542;
}

.square-decor--large {
	position: absolute;
	bottom: -150px;
	left: 85px;
	width: 65px;
	height: 65px;
	border: 4px solid #fff;
	border-radius: 5px;
	background-color: transparent;
	transform: rotate(45deg);
}
.square-decor--medium {
	position: absolute;
	top: -83px;
	left: -665px;
	border: 4px solid #fff;
	border-radius: 5px;
	width: 45px;
	height: 45px;
	transform: rotate(15deg);
}
.square-decor--small {
	position: absolute;
	top: -34px;
	right: 132px;
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
	border-radius: 3px;
	transform: rotate(45deg);
}

.header-top__menu-burger.active {
	position: absolute;
	top: 45px;
	left: 25px;
	z-index: 100;
}
.header-top__menu-burger span {
	transition: transform 0.4s ease 0s;
}
.header-top__menu-burger.active span {
	position: absolute;
}
.header-top__menu-burger.active span:nth-child(1) {
	top: calc(50% - 1px);
	transform: rotate(-45deg);
}
.header-top__menu-burger.active span:nth-child(2) {
	scale: 0;
}
.header-top__menu-burger.active span:nth-child(3) {
	top: calc(50% - 1px);
	transform: rotate(45deg);
}
.header-top__menu-list.active {
	transform: translateX(0);
}

/* Адаптив */
@media (max-width: 1199.98px) {
	.container {
		padding: 0 50px;
	}
	.header-decor-top-left,
	.header-decor-top-middle,
	.header-decor-bottom-right {
		display: none;
	}
	.header-top__menu-list {
		margin-left: 0;
	}
	.header-dots {
		top: 80px;
		right: 50px;
	}
	.square-decor--medium {
		left: -50px;
	}
	.square-decor--large {
		left: 310px;
	}
	.header-content .main-img {
		left: 155px;
	}
}

@media (max-width: 991.98px) {
	.header {
		padding: 45px 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.container {
		padding: 0 25px;
	}
	.square-decor {
		display: none;
	}
	.header-decor-top {
		width: 225px;
	}
	.header-decor-bottom {
		width: 300px;
	}
	.header-dots {
		top: 50px;
		right: 25px;
	}
	.header-content .main-img {
		width: 390px;
		top: -90px;
		left: 90px;
	}
	.header-content__inner {
		margin-right: 0;
		justify-content: center;
	}
}

@media (max-width: 767.98px) {
	.header-decor-top,
	.header-decor-bottom {
		display: none;
	}
	.container {
		width: 100%;
	}
	.header-dots {
		top: 55px;
	}
	.header-top__inner {
		position: static;
	}
	.header-top__menu-list {
		position: absolute;
		left: -200%;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		row-gap: 65px;
		width: 100%;
		height: 100vh;
		z-index: 50;
		transition: left 0.3s ease;
	}
	.header-top__menu-list.active {
		top: 0;
		left: 0;
		padding-left: 25px;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.header-top__menu-item {
		font-weight: 500;
		font-size: 45px;
	}

	.header-top__menu-burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50px;
		height: 30px;
	}
	.header-top__menu-burger span {
		border-radius: 3px;
		width: 50px;
		height: 4px;
		background-color: #fff;
	}
	.header-bottom__inner {
		justify-content: center;
	}

	.header-bottom {
		margin-top: auto;
	}
}

@media (max-width: 575.98px) {
	.header-top {
		margin-bottom: 45px;
	}
	.header-content .main-img {
		width: 210px;
		top: 30px;
		left: unset;
	}
	.header-content__name {
		align-items: center;
		row-gap: 135px;
	}
	.header-content__title {
		font-size: 60px;
		text-align: center;
	}
	.header-content__subtitle br {
		display: none;
	}
	.header-content__subtitle {
		font-size: 25px;
		margin-left: 0;
		text-align: center;
	}
	.socials-list__item {
		width: 46px;
		height: 46px;
	}
	.header-top__menu-item {
		font-size: 35px;
	}
}
